<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://dl.dropboxusercontent.com/u/67252270/d3-cloud/d3.min.js"></script>
    <script src="http://dl.dropboxusercontent.com/u/67252270/d3-cloud/d3.layout.cloud.js"></script>
    <script type="text/javascript" th:src="@{/words.js}"></script>


    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        var artistName = /*[[${name}]]*/;
        var words = /*[[${annotations}]]*/;
        /*]]>*/
    </script>



    <script type="text/javascript" th:src = "@{/bower_components/easyd3/wordcloud/easywordcloud.js}"></script>

    <script type="text/javascript" th:src="@{/text2wordmap.js}"></script>
    <script type="text/javascript" th:src="@{/cloud.js}"></script>
</body>
</html>