<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>LargeLyrics</title>
</head>
<body>
<div class="container-fluid">
    <div class="center-div">
        <form action="/artist" class="form-inline">
            <div class="form-group">
                <label for="exampleInputName2">Artist Name</label>
                <input name="name" type="text" class="form-control" id="exampleInputName2" placeholder="Kendrick Lamar"></input>
            </div>
            <button type="submit" class="btn btn-default">Search</button>
        </form>
    </div>
</div>
</body>
</html>